@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400&display=swap");
:root {
  --blue-color: #08A6E4;
  --blue-color-hover: #078fc5;
  --blue-color-shadow: #07ace64a;
  --red-color: #FB3B64;
  --red-color-hover: #fa1e4e;
  --red-color-shadow: #eb476e4a;
  --green-color: #55DFB4;
  --green-color-hover: #29d69f;
  --green-color-shadow: #55dfb44a;
  --white-color: #FFFFFF;
  --grey-color-text: #A5A5A5;
  --grey-color-border: #E8E9ED;
  --grey-color-background: #F7F7F7;
  --grey-color-input: #95989A;
  --grey-color-policies: #707070;
  --grey-color-slider: #75757577;
  --font-family-text: "Open Sans";
  --font-family-title: "Raleway";
}

.logo {
  width: 206px;
  height: 37px;
}

.button {
  color: white;
  background-color: var(--blue-color);
  border-radius: 40px;
  padding: 20px 30px;
  border: none;
  font-family: var(--font-family-text);
  font-size: 1rem;
  max-width: 440px;
}
.button:hover {
  background-color: var(--blue-color-hover);
  transition: background-color 0.5s;
}
.button:not(:hover) {
  transition: background-color 0.5s;
}

.button__container {
  display: flex;
  justify-content: center;
}

.title {
  font-family: var(--font-family-title);
  font-weight: 400;
}

.text {
  font-family: var(--font-family-text);
  font-weight: 400;
}

.input {
  border: none;
  width: 90%;
  border-bottom: 1px solid var(--grey-color-input);
  font-size: 1rem;
}

.input-error {
  border-bottom: 1px solid red;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  padding: 20px 0px 20px 25px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.topbar .topbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .burger {
  width: 15px;
  height: 15px;
  align-content: flex-end;
  margin-right: 30px;
}
.topbar .burger-open {
  content: url("../assets/icons/menuopen.svg");
}
.topbar .burger-close {
  content: url("../assets/icons/menuclose.svg");
}
.topbar .nav {
  margin-top: 40px;
  display: none;
}
.topbar .nav .nav__li {
  list-style: none;
  margin: 7px 0;
}
.topbar .nav .nav__li .nav__li__a {
  font-family: var(--font-family-text);
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}
.topbar .nav-visible {
  display: block;
}

@media only screen and (min-width: 1000px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 25px;
  }
  .topbar .topbar__container {
    margin-left: 5%;
  }
  .topbar .burger {
    display: none;
  }
  .topbar .nav {
    display: flex;
    align-items: center;
    margin: 0 50px 0 0;
  }
  .topbar .nav .nav__options .nav__li {
    margin: 0;
    display: inline-block;
    padding: 25px 20px 25px 20px;
    border-bottom: 4px solid transparent;
    transition: all 0.2s;
  }
  .topbar .nav .nav__options .nav__li:hover {
    border-bottom: 4px solid var(--blue-color);
  }
  .topbar .nav .nav__options .nav__li .nav__li__a {
    color: var(--grey-color-text);
    height: 20px;
  }
  .topbar .nav .nav__options .nav__li:hover .nav__li__a {
    color: black;
  }
}
.scrollbar {
  border: 4px solid;
  border-image-slice: 1;
  z-index: 2;
  border-image-source: linear-gradient(90deg, rgb(8, 166, 228) 0%, rgb(85, 223, 180) 50%, rgb(8, 166, 228) 100%);
  position: fixed;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}

.return-button {
  position: fixed;
  bottom: 2%;
  right: 3%;
  width: 50px;
  background-color: white;
  border: 0;
  border-radius: 50%;
}
.return-button .return-button__img {
  width: 100%;
  transform: scaleY(-1);
  border-radius: 50%;
}

.header {
  padding-bottom: 10%;
}
.header .header__data {
  margin: 30% 10% 10% 10%;
}
.header .header__data .header__title {
  font-size: 2rem;
  text-align: center;
}
.header .header__data .header__text {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}
.header .header__data .header__button {
  margin-top: 28px;
}
.header .header__data .header__button .button-shop {
  width: 90%;
  box-shadow: 5px 10px 14px var(--blue-color-shadow);
}
.header .header__img {
  width: 100%;
}
.header .header__platform__h2 {
  margin: 5% 10%;
  font-weight: 300;
  text-align: center;
  font-size: 1.8rem;
}
.header .header__platform__container .header__platform__img {
  display: block;
  margin: 30px auto;
}

@media only screen and (min-width: 1000px) {
  .header .header__data {
    margin: 10% 10%;
  }
  .header__img {
    content: url("../assets/images/background.png");
  }
  .header__platform__container {
    display: flex;
    justify-content: space-evenly;
  }
  .header__platform__img {
    justify-content: space-around;
  }
}
.section__benefit {
  display: block;
  background-color: var(--grey-color-background);
  align-content: center;
  padding: 42px 0px;
}

.card {
  display: block;
  background-color: var(--white-color);
  margin: 5% 10%;
  border: 1px solid var(--grey-color-border);
  border-radius: 5px;
}
.card .card__description {
  display: block;
  margin: 5% 10%;
}
.card .card__description .card__title {
  font-size: 1.8rem;
}
.card .card__description .card__text {
  margin-top: 5%;
  font-size: 0.9rem;
}
.card .card__description .card__line {
  display: none;
  border: 2px solid;
  margin-top: 15%;
  width: 75%;
}
.card .card__image {
  display: flex;
  position: relative;
}
.card .card__image .card__foreground {
  margin: auto;
  width: 60%;
  z-index: 1;
  margin-top: 10%;
}
.card .card__image-first .card__background {
  position: absolute;
  width: 35%;
  right: 40px;
  top: 5%;
}
.card .card__image-second .card__background {
  position: absolute;
  align-content: center;
  left: 22%;
  top: 5%;
  width: 45%;
  margin: auto;
}
.card .card__image-third {
  width: 100%;
  background-color: var(--green-color);
  border-radius: 5px;
  border: 1px solid var(--grey-color-border);
}
.card .card__image-third .card__foreground {
  position: relative;
  top: 10%;
  right: 5%;
}

@media only screen and (min-width: 1000px) {
  .card {
    display: flex;
    margin: 2% 15%;
    flex-direction: row-reverse;
  }
  .card .card__description {
    margin: 5% 15% 5% 5%;
    width: 35%;
  }
  .card .card__description .card__text {
    margin-top: 15%;
  }
  .card .card__description .card__line {
    display: block;
  }
  .card .card__description .card__line-red {
    border-color: var(--red-color);
  }
  .card .card__description .card__line-blue {
    border-color: var(--blue-color);
  }
  .card .card__description .card__line-green {
    border-color: var(--green-color);
  }
  .card .card__image {
    width: 50%;
  }
  .card__third {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: var(--grey-color-background);
    border: 0;
  }
  .card__third .card__image {
    margin-left: 30px;
  }
  .card__third .card__description {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 2% 0 0;
    padding: 5% 15% 5% 5%;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color-border);
    border-radius: 5px;
    justify-content: center;
  }
}
.section__pricing {
  display: block;
}
.section__pricing .pricing__title {
  font-size: 2.25rem;
  text-align: center;
  margin-top: 50px;
}

.card__fee {
  display: block;
  margin: 10%;
  border: 1px solid;
  border-radius: 18px;
}
.card__fee:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.card__fee:not(:hover) {
  transition: all 0.5s;
}
.card__fee .card__price {
  display: inline-block;
  width: 49%;
  text-align: center;
}
.card__fee .card__price .card__price-type {
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 1.25rem;
}
.card__fee .card__price .card__price-dollar {
  font-family: var(--font-family-text);
  font-weight: 300;
  font-size: 2.8rem;
}
.card__fee .card__price .card__price-offer {
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 0.75rem;
}
.card__fee .card__benefits {
  margin-top: 40px;
  display: inline-block;
  width: 49%;
}
.card__fee .card__benefits .card__atr {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
}
.card__fee .card__benefits .card__atr .card__check {
  height: 15px;
  width: 15px;
}
.card__fee .card__benefits .card__atr .card__cross {
  height: 15px;
  width: 15px;
}
.card__fee .card__benefits .card__atr .card__text {
  margin-left: 10px;
  font-size: 0.8rem;
}
.card__fee .card__button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}
.card__fee .card__button .button {
  width: 40%;
}

.card__fee-red {
  border-color: var(--red-color);
}
.card__fee-red .card__price .card__price-dollar {
  color: var(--red-color);
}
.card__fee-red .card__button .button {
  background-color: var(--red-color);
}
.card__fee-red .card__button .button:hover {
  background-color: var(--red-color-hover);
}
.card__fee-red:hover, .card__fee-red:hover .button {
  box-shadow: 5px 10px 14px var(--red-color-shadow);
}

.card__fee-blue {
  border-color: var(--blue-color);
}
.card__fee-blue .card__price .card__price-dollar {
  color: var(--blue-color);
}
.card__fee-blue .card__button .button {
  background-color: var(--blue-color);
}
.card__fee-blue .card__button .button:hover {
  background-color: var(--blue-color-hover);
}
.card__fee-blue:hover, .card__fee-blue:hover .button {
  box-shadow: 5px 10px 14px var(--blue-color-shadow);
}

.card__fee-green {
  border-color: var(--green-color);
}
.card__fee-green .card__price .card__price-dollar {
  color: var(--green-color);
}
.card__fee-green .card__button .button {
  background-color: var(--green-color);
}
.card__fee-green .card__button .button:hover {
  background-color: var(--green-color-hover);
}
.card__fee-green:hover, .card__fee-green:hover .button {
  box-shadow: 5px 10px 14px var(--green-color-shadow);
}

@media only screen and (min-width: 1000px) {
  .cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5%;
  }
  .cards__container .card__fee {
    margin: 0 3% 0 3%;
    padding: 2% 0 2% 0;
    width: 25%;
  }
  .cards__container .card__fee .card__price {
    display: block;
    margin: auto;
    margin-top: 5%;
  }
  .cards__container .card__fee .card__benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 15%;
  }
  .cards__container .card__fee .card__button {
    top: 60px;
  }
}
.slider {
  position: relative;
  display: block;
  height: 500px;
  width: 100%;
  background-color: black;
  margin: 10% 0;
}
.slider .slider__img {
  display: none;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.slider .slider__img-active {
  display: block;
}
.slider .arrow {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8666666667);
  background-image: url("../assets/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 2px solid var(--grey-color-slider);
}
.slider .arrow-right {
  position: absolute;
  top: 45%;
  right: 2%;
  transform: scaleX(-1);
}
.slider .arrow-left {
  position: absolute;
  top: 45%;
  left: 2%;
}
.slider .slider__button__container {
  position: absolute;
  width: 100%;
  bottom: 0;
  justify-content: center;
  gap: 5%;
}
.slider .slider__button__container .slider__button__list {
  display: flex;
  justify-content: center;
  gap: 3%;
  padding-bottom: 2%;
}
.slider .slider__button__container .slider__button__list .slider__button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4666666667);
}
.slider .slider__button__container .slider__button__list .slider__button-active {
  background-color: #ffffff;
}

.section__contact .contact__info .contact__questions {
  margin-left: 30px;
  font-size: 2.5rem;
}
.section__contact .contact__info .contact__text {
  margin-left: 30px;
  font-size: 1rem;
}
.section__contact .contact__info .contact__data {
  margin: 30px 0 0 30px;
}
.section__contact .contact__info .contact__data .contact__icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.section__contact .contact__info .contact__data .contact__text {
  color: var(--grey-color-text);
  font-family: var(--font-family-text);
  margin-left: 5px;
  font-weight: 600;
}
.section__contact .contact__info .contact__data .contact__email {
  display: flex;
}
.section__contact .contact__info .contact__data .contact__phone {
  display: flex;
}
.section__contact .contact__form {
  margin: 30px 0 0 30px;
}
.section__contact .contact__form .contact__input {
  margin: 10px 0 10px 0;
}
.section__contact .contact__input-text {
  font-family: var(--font-family-text);
  font-weight: 600;
  color: var(--blue-color);
}
.section__contact .contact__policies {
  display: flex;
  margin-top: 30px;
  margin-left: 26px;
}
.section__contact .contact__policies .contact__policies-checkbox {
  width: 24px;
  height: 24px;
}
.section__contact .contact__policies .contact__policies-text {
  margin: 0px 30px 30px 10px;
  width: 90%;
  font-size: 0.75rem;
  color: var(--grey-color-policies);
}
.section__contact .contact__button {
  display: flex;
  justify-content: flex-end;
  margin: 0px 30px 30px 0px;
}
.section__contact .contact__button .button {
  width: 60%;
  box-shadow: 5px 10px 14px var(--blue-color-shadow);
}

@media only screen and (min-width: 1000px) {
  .section__contact {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  .section__contact .contact__info {
    width: 35%;
  }
  .section__contact .contact__info .contact__data {
    display: flex;
    margin-top: 38px;
    margin-left: 32px;
  }
  .section__contact .contact__info .contact__phone {
    margin-left: 20px;
  }
  .section__contact .contact__form {
    margin-top: 0px;
    width: 30%;
  }
  .section__contact .contact__form .contact__input {
    margin: 10px 0 10px 0;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1607843137);
  padding: 30px;
}
.footer .footer__logo .logo {
  width: 175px;
}
.footer .footer__logo .footer__rights {
  font-size: 0.7rem;
}
.footer .social-media .social-media__icon {
  width: 24px;
  height: 24px;
}
.footer .social-media .social-media__facebook {
  margin-left: 10px;
}

@media only screen and (min-width: 1000px) {
  .footer__logo {
    margin-left: 5%;
  }
  .social-media {
    margin-right: 5%;
  }
}
.popup__container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: -1;
}

.popup {
  display: block;
  visibility: hidden;
  border: 1px solid var(--grey-color-border);
  border-radius: 5px;
  padding: 5%;
  margin: 25% auto;
  width: 90%;
  max-width: 700px;
  background-color: var(--white-color);
  position: relative;
}
.popup .popup__cross {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
}
.popup .popup__title {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
}
.popup .popup__form .popup__email__text {
  margin-top: 20px;
}
.popup .popup__form .popup__input {
  width: 100%;
  margin-top: 10px;
}
.popup .popup__form .popup__policies {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.popup .popup__form .popup__policies .popup__checkbox {
  width: 24px;
  height: 24px;
}
.popup .button {
  margin-top: 20px;
  padding: 10px 20px;
}

.popup__container-front {
  z-index: 3;
}

.popup-visible {
  visibility: visible;
}

@media only screen and (min-width: 1000px) {
  .popup {
    padding: 2%;
    margin: 10% auto;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
