@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400&display=swap");
.topbar {
  padding: 20px 0px 20px 25px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.topbar .topbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .burger {
  width: 15px;
  height: 15px;
  align-content: flex-end;
  margin-right: 30px;
}
.topbar .burger__open {
  content: url("../assets/icons/menuopen.svg");
}
.topbar .burger__close {
  content: url("../assets/icons/menuclose.svg");
}
.topbar .burger__check {
  opacity: 0;
}
.topbar .navigation {
  margin-top: 40px;
  display: none;
}
.topbar .navigation .options li {
  margin: 7px 0;
}
.topbar .navigation .anchor {
  list-style: none;
}
.topbar .navigation .anchor a {
  font-family: "Open Sans";
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}
.topbar .navwatch {
  display: block;
}

@media only screen and (min-width: 1000px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 25px;
  }
  .topbar .topbar__container {
    margin-left: 5%;
  }
  .topbar .burger {
    display: none;
  }
  .topbar .navigation {
    display: flex;
    align-items: center;
    margin: 0 50px 0 0;
  }
  .topbar .navigation .options li {
    margin: 0;
  }
  .topbar .navigation .anchor a {
    color: #A5A5A5;
    height: 20px;
  }
  .topbar .options li {
    display: inline-block;
    padding: 25px 20px 25px 20px;
    border-bottom: 4px solid transparent;
  }
  .topbar .options li:hover {
    border-bottom: 4px solid #08A6E4;
  }
  .topbar .options li:hover a {
    color: black;
  }
}
.whyus {
  padding-bottom: 10%;
}

.shop {
  margin: 15% 10%;
}
.shop .shop__title,
.shop .shop__text {
  text-align: center;
}
.shop .shop__title {
  font-family: "Raleway";
  font-size: 2rem;
  line-height: 41px;
  font-weight: 400;
}
.shop .shop__text {
  margin-top: 20px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
}
.shop .button__container {
  display: flex;
  margin-top: 28px;
  justify-content: center;
}
.shop .button__container .button__shop {
  width: 90%;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
}

.plaform__title {
  margin: 5% 10%;
  font-family: "Raleway";
  font-weight: 300;
  text-align: center;
  font-size: 1.8rem;
}

.image__section-first {
  width: 100%;
}

.platforms .platform__image {
  display: block;
  margin: 30px auto;
}

@media only screen and (min-width: 1000px) {
  .image__section-first {
    content: url("../assets/images/background.png");
  }
  .platforms {
    display: flex;
    justify-content: space-evenly;
  }
  .platform__image {
    justify-content: space-around;
  }
}
.benefits {
  display: block;
  background-color: #F7F7F7;
  align-content: center;
  padding: 42px 0px;
}

.card {
  display: block;
  background-color: white;
  margin: 5% 5%;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.card .card__text {
  display: block;
  margin: 5% 5%;
}
.card .card__text .card__title {
  margin-top: 25px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.8rem;
}
.card .card__text .card__description {
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 0.9rem;
}
.card .card__text .card__line {
  display: none;
  margin-top: 10%;
  width: 75%;
}
.card .card__image {
  display: flex;
  position: relative;
}
.card .card__image .card__foreground {
  margin: auto;
  margin-top: 10%;
  width: 60%;
  z-index: 1;
}

.card__image-first .card__background {
  position: absolute;
  width: 35%;
  right: 40px;
  top: 5%;
}

.card__image-second .card__background {
  position: absolute;
  align-content: center;
  left: 20%;
  top: 5%;
  width: 45%;
  margin: auto;
}

.card__image-third {
  width: 100%;
  background-color: #55DFB4;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
}
.card__image-third .card__foreground {
  position: relative;
  top: 25%;
  right: 5%;
}

@media only screen and (min-width: 1000px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
  }
  .card .card__text {
    width: 50%;
  }
  .card .card__text .card__line {
    display: block;
  }
  .card .card__text .card__line-red {
    border-color: #FB3B64;
  }
  .card .card__text .card__line-blue {
    border-color: #08A6E4;
  }
  .card .card__text .card__line-green {
    border-color: #55DFB4;
  }
  .card .card__image {
    width: 50%;
  }
  .card__third {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: #F7F7F7;
    border: 0;
  }
  .card__third .card__image {
    margin-left: 30px;
  }
  .card__third .card__text {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 30px 0 0;
    padding: 5%;
    background-color: white;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    justify-content: center;
  }
}
.pricing {
  display: block;
}
.pricing .pricing__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 50px;
}

.card__pricing {
  display: block;
  margin: 10%;
  border: 1px solid black;
  border-radius: 18px;
}
.card__pricing .card__price {
  display: inline-block;
  width: 49%;
  text-align: center;
}
.card__pricing .card__price .card__price-type {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25rem;
}
.card__pricing .card__price .card__price-dollar {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 2.8rem;
}
.card__pricing .card__price .card__price-offer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.75rem;
}
.card__pricing .card__atributes {
  margin-top: 40px;
  display: inline-block;
  width: 49%;
}
.card__pricing .card__atributes .card__atr {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
}
.card__pricing .card__atributes .card__atr .card__check {
  height: 15px;
  width: 15px;
}
.card__pricing .card__atributes .card__atr .card__cross {
  height: 15px;
  width: 15px;
}
.card__pricing .card__atributes .card__atr .card__text {
  margin-left: 10px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.8rem;
}
.card__pricing .card__button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}
.card__pricing .card__button .button {
  width: 40%;
}

.card__pricing:hover {
  transform: scale(1.1);
}

.card__pricing-red {
  border-color: #FB3B64;
}
.card__pricing-red .card__price .card__price-dollar {
  color: #FB3B64;
}
.card__pricing-red .card__button button {
  background-color: #FB3B64;
}

.card__pricing-red:hover {
  box-shadow: 5px 10px 14px rgba(235, 71, 110, 0.29);
}

.card__pricing-blue {
  border-color: #07ACE6;
}
.card__pricing-blue .card__price .card__price-dollar {
  color: #07ACE6;
}
.card__pricing-blue .card__button button {
  background-color: #07ACE6;
}

.card__pricing-blue:hover {
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
}

.card__pricing-green {
  border-color: #55DFB4;
}
.card__pricing-green .card__price .card__price-dollar {
  color: #55DFB4;
}
.card__pricing-green .card__button button {
  background-color: #55DFB4;
}

.card__pricing-green:hover {
  box-shadow: 5px 10px 14px rgba(85, 223, 180, 0.29);
}

@media only screen and (min-width: 1000px) {
  .pricing {
    display: flex;
    flex-direction: column;
  }
  .cards__prices {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 5%;
  }
  .cards__prices .card__pricing {
    margin: 0%;
    width: 30%;
  }
  .cards__prices .card__pricing .card__price {
    display: block;
    margin: auto;
    margin-top: 5%;
  }
  .cards__prices .card__pricing .card__atributes {
    display: block;
    margin: auto;
    margin-top: 15%;
  }
}
.contact .contact__questions {
  margin-left: 30px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.5rem;
}
.contact .contact__text {
  margin-left: 30px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
}
.contact .contact__data {
  margin: 30px 0 0 30px;
}
.contact .contact__data .contact__email {
  display: flex;
}
.contact .contact__data .contact__email .contact__email-icon {
  background-image: url("../assets/mail.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.contact .contact__data .contact__email .contact__email-text {
  color: #A5A5A5;
  font-family: "Open Sans";
  font-weight: 600;
}
.contact .contact__data .contact__phone {
  display: flex;
  margin-top: 5px;
}
.contact .contact__data .contact__phone .contact__phone-icon {
  background-image: url("../assets/phone.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.contact .contact__data .contact__phone .contact__phone-text {
  color: #A5A5A5;
  font-family: "Open Sans";
  font-weight: 600;
}
.contact .contact__part2 {
  margin: 30px 0 0 30px;
}
.contact .contact__part2 .contact__input {
  margin: 10px 0 10px 0;
}
.contact .contact__input-text {
  font-family: "Open Sans";
  font-weight: 600;
  color: #08A6E4;
}
.contact .contact__input-input {
  border: 0;
  width: 90%;
  border-bottom: 1px solid #95989A;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
}
.contact .contact__policies {
  display: flex;
  margin-top: 30px;
  margin-left: 26px;
}
.contact .contact__policies .contact__policies-checkbox {
  width: 24px;
  height: 24px;
}
.contact .contact__policies .contact__policies-text {
  margin: 0px 30px 30px 10px;
  width: 90%;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.75rem;
  color: #707070;
}
.contact .contact__button {
  display: flex;
  justify-content: flex-end;
  margin: 0px 30px 30px 0px;
}
.contact .contact__button .button {
  width: 60%;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
}

@media only screen and (min-width: 1000px) {
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  .contact .contact__part1 {
    width: 40%;
  }
  .contact .contact__part1 .contact__data {
    display: flex;
    margin-top: 38px;
    margin-left: 32px;
  }
  .contact .contact__part1 .contact__data .contact__phone {
    margin-left: 20px;
  }
  .contact .contact__part2 {
    width: 40%;
  }
  .contact .contact__part2 .contact__input {
    margin: 10px 0 10px 0;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1607843137);
  padding: 30px;
}
.footer .footer__logo .logo {
  width: 175px;
}
.footer .footer__logo .footer__rights {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.7rem;
}
.footer .social-media .social-media__twitter {
  width: 24px;
  height: 24px;
}
.footer .social-media .social-media__facebook {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 1000px) {
  .social-media {
    margin-right: 5%;
  }
}
.logo {
  width: 206px;
  height: 37px;
}

.button {
  color: white;
  background-color: #08A6E4;
  border-radius: 40px;
  padding: 20px 30px;
  border: none;
  font-family: "Open Sans";
  font-size: 1rem;
  max-width: 440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
