.benefits {
    display: block;
    background-color: #F7F7F7;
    align-content: center;
    padding: 42px 0px;
}

.card {
    background-color: white;
    margin: 5% 10%;
    padding: 10%;
    border: 1px solid #E8E9ED;
    border-radius: 5px;

    .card__title {
        font-family: "Raleway";
        font-size: 1.8rem;
    }

    .card__text {
        font-family: "Open Sans";
        font-size: 0.9rem;
    }

    .card__image {
        width: 100%;
        height: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 30px 0px;
    }

    .card__image-first {
        background-image: url("../assets/macbook.svg");
    }

    .card__image-second {
        background-image: url("../assets/iphone.svg");
    }

    .card__image-third {
        background-image: url("../assets/trumpet.svg");
        background-color: #55DFB4;
    }

}

.card__bottom {
    padding: 0;

    .card__title,
    .card__text {
        margin: 5% 10%;
    }

    .card__image {
        margin: 0;
        height: 195px;
        border-radius: 5px;
        border: 1px solid #E8E9ED;
    }
}
