.logo {
    width: 206px;
    height: 37px;
}

.button {
    color: white;
    background-color: #08A6E4;
    border-radius: 40px;
    padding: 20px 30px;
    border: none;
    font-family: "Open Sans";
    font-size: 1rem;

    max-width: 440px;
}
