.logo {
    width: 206px;
    height: 37px;
}

.button {
    color: white;
    background-color: #08A6E4;
    border-radius: 40px;
    padding: 20px 30px;
    border: none;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    font-family: "Open Sans";
    font-size: 1rem;

    max-width: 440px;
}
