.contact {
    .contact__questions {
        margin-left: 30px;
        font-family: "Raleway";
        font-weight: 400;
        font-size: 2.5rem;
    }

    .contact__text {
        margin-left: 30px;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 1rem;
    }

    .contact__data {
        margin: 30px 0 0 30px;

        .contact__email {
            display: flex;

            .contact__email-icon {
                background-image: url("../assets/mail.svg");
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .contact__email-text {
                color: #A5A5A5;
                font-family: "Open Sans";
                font-weight: 600;
            }
        }

        .contact__phone {
            display: flex;
            margin-top: 5px;

            .contact__phone-icon {
                background-image: url("../assets/phone.svg");
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .contact__phone-text {
                color: #A5A5A5;
                font-family: "Open Sans";
                font-weight: 600;
            }
        }
    }

    .contact__part2 {
        margin: 30px 0 0 30px;

        .contact__input {
            margin: 10px 0 10px 0;
        }
    }

    .contact__input-text {
        font-family: "Open Sans";
        font-weight: 600;
        color: #08A6E4;
    }

    .contact__input-input {
        border: 0;
        width: 90%;
        border-bottom: 1px solid #95989A;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 1rem;
    }

    .contact__policies {
        display: flex;
        margin-top: 30px;
        margin-left: 26px;

        .contact__policies-checkbox {
            width: 24px;
            height: 24px;
        }

        .contact__policies-text {
            margin: 0px 30px 30px 10px;
            width: 90%;
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 0.75rem;
            color: #707070;
        }

    }

    .contact__button {
        display: flex;
        justify-content: flex-end;
        margin: 0px 30px 30px 0px;

        .button {
            width: 60%;
            box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
        }
    }
}

@media only screen and (min-width: 1000px) {
    .contact {
        display: flex;
        justify-content: center;
        margin-top: 150px;

        .contact__part1 {
            width: 40%;

            .contact__data {
                display: flex;
                margin-top: 38px;
                margin-left: 32px;

                .contact__phone {
                    margin-left: 20px;
                }
            }
        }

        .contact__part2 {
            width: 40%;

            .contact__input {
                margin: 10px 0 10px 0;
            }
        }
    }
}
