.section__contact {

    .contact__info {
        .contact__questions {
            margin-left: 30px;
            font-size: 2.5rem;
        }

        .contact__text {
            margin-left: 30px;
            font-size: 1rem;
        }

        .contact__data {
            margin: 30px 0 0 30px;

            .contact__icon {
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .contact__text {
                color: var(--grey-color-text);
                font-family: var(--font-family-text);
                margin-left: 5px;
                font-weight: 600;
            }

            .contact__email {
                display: flex;
            }

            .contact__phone {
                display: flex;
            }
        }
    }

    .contact__form {
        margin: 30px 0 0 30px;

        .contact__input {
            margin: 10px 0 10px 0;
        }
    }

    .contact__input-text {
        font-family: var(--font-family-text);
        font-weight: 600;
        color: var(--blue-color);
    }

    .contact__policies {
        display: flex;
        margin-top: 30px;
        margin-left: 26px;

        .contact__policies-checkbox {
            width: 24px;
            height: 24px;
        }

        .contact__policies-text {
            margin: 0px 30px 30px 10px;
            width: 90%;
            font-size: 0.75rem;
            color: var(--grey-color-policies);
        }

    }

    .contact__button {
        display: flex;
        justify-content: flex-end;
        margin: 0px 30px 30px 0px;

        .button {
            width: 60%;
            box-shadow: 5px 10px 14px var(--blue-color-shadow)
        }
    }
}

@media only screen and (min-width: 1000px) {
    .section__contact {
        display: flex;
        justify-content: center;
        margin-top: 150px;

        .contact__info {
            width: 35%;

            .contact__data {
                display: flex;
                margin-top: 38px;
                margin-left: 32px;
            }

            .contact__phone {
                margin-left: 20px;
            }
        }

        .contact__form {
            margin-top: 0px;
            width: 30%;

            .contact__input {
                margin: 10px 0 10px 0;
            }
        }
    }
}
