.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -3px 6px #00000029;
    padding: 30px;

    .footer__logo {

        .logo {
            width: 175px;
        }

        .footer__rights {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 0.7rem;
        }
    }

    .social-media {

        .social-media__twitter {
            width: 24px;
            height: 24px;
        }

        .social-media__facebook {
            margin-left: 10px;
            width: 24px;
            height: 24px;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .social-media {
        margin-right: 5%;
    }
}
