.section__pricing {
    display: block;

    .pricing__title {
        font-size: 2.25rem;
        text-align: center;
        margin-top: 50px;
    }
}

.card__fee {
    display: block;
    margin: 10%;
    border: 1px solid;
    border-radius: 18px;

    .card__price {
        display: inline-block;
        width: 49%;
        text-align: center;

        .card__price-type {
            font-family: var(--font-family-title);
            font-weight: 700;
            font-size: 1.25rem;
        }

        .card__price-dollar {
            font-family: var(--font-family-text);
            font-weight: 300;
            font-size: 2.8rem;
        }

        .card__price-offer {
            font-family: var(--font-family-title);
            font-weight: 700;
            font-size: 0.75rem;
        }
    }

    .card__benefits {
        margin-top: 40px;
        display: inline-block;
        width: 49%;

        .card__atr {
            display: flex;
            justify-content: flex-start;
            margin: 10px 0px;

            .card__check {
                height: 15px;
                width: 15px;
            }

            .card__cross {
                height: 15px;
                width: 15px;
            }

            .card__text {
                margin-left: 10px;
                font-size: 0.8rem;
            }
        }
    }

    .card__button {
        display: flex;
        justify-content: center;
        position: relative;
        top: 20px;

        .button {
            width: 40%;
        }
    }
}

.card__fee:hover {
    transform: scale(1.10);
    transition: all 0.5s;
}

.card__fee:not(:hover) {
    transition: all 0.5s;
}

.card__fee-red {
    border-color: var(--red-color);

    .card__price .card__price-dollar {
        color: var(--red-color);
    }

    .card__button .button {
        background-color: var(--red-color);
    }

    .card__button .button:hover {
        background-color: var(--red-color-hover);
    }
}

.card__fee-red:hover,
.card__fee-red:hover .button {
    box-shadow: 5px 10px 14px var(--red-color-shadow)
}

.card__fee-blue {
    border-color: var(--blue-color);

    .card__price .card__price-dollar {
        color: var(--blue-color);
    }

    .card__button .button {
        background-color: var(--blue-color);
    }

    .card__button .button:hover {
        background-color: var(--blue-color-hover);
    }
}

.card__fee-blue:hover,
.card__fee-blue:hover .button {
    box-shadow: 5px 10px 14px var(--blue-color-shadow);
}

.card__fee-green {
    border-color: var(--green-color);

    .card__price .card__price-dollar {
        color: var(--green-color);
    }

    .card__button .button {
        background-color: var(--green-color);
    }

    .card__button .button:hover {
        background-color: var(--green-color-hover);
    }
}

.card__fee-green:hover,
.card__fee-green:hover .button {
    box-shadow: 5px 10px 14px var(--green-color-shadow);
}

@media only screen and (min-width: 1000px) {
    .cards__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 5%;

        .card__fee {
            margin: 0 3% 0 3%;
            padding: 2% 0 2% 0;
            width: 25%;

            .card__price {
                display: block;
                margin: auto;
                margin-top: 5%
            }

            .card__benefits {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin: auto;
                margin-top: 15%;
            }

            .card__button {
                top: 60px;
            }
        }
    }
}
