@use "./imports";

.topbar {
    padding: 20px 0px 20px 25px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;

    .topbar__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger {
        width: 15px;
        height: 15px;
        align-content: flex-end;
        margin-right: 30px;
    }

    .burger__open {
        content: url("../assets/icons/menuopen.svg");
    }

    .burger__close {
        content: url("../assets/icons/menuclose.svg");
    }

    .burger__check {
        opacity: 0;
    }

    .navigation {
        margin-top: 40px;
        display: none;

        .options li {
            margin: 7px 0;
        }

        .anchor {
            list-style: none;
        }

        .anchor a {
            font-family: "Open Sans";
            font-weight: 700;
            text-decoration: none;
            color: black;
            font-size: 0.8rem;
        }
    }


    .navwatch {
        display: block;
    }
}

@media only screen and (min-width: 1000px) {
    .topbar {
        display: flex;
        justify-content: space-between;

        .burger {
            display: none;
        }

        .navigation {
            display: flex;
            align-items: center;
            margin: 0 50px 0 0;

            .options li {
                margin: 0 20px 0 20px;
            }

            .anchor a {
                color: #A5A5A5;
            }
        }

        .options li {
            display: inline-block;
        }
    }
}
