@use "./imports";

.topbar {
    padding: 20px 0px 20px 25px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;

    .topbar__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger {
        width: 15px;
        height: 15px;
        align-content: flex-end;
        margin-right: 30px;
    }

    .burger__open {
        content: url("../assets/menuopen.svg");
    }

    .burger__close {
        content: url("../assets/menuclose.svg");
    }

    .burger__check {
        opacity: 0;
    }

    .navigation {
        margin-top: 40px;
        display: none;

        .options li {
            margin: 7px 0;
        }

        .anchor {
            list-style: none;
        }

        .anchor a {
            font-family: "Open Sans";
            font-weight: 700;
            text-decoration: none;
            color: black;
            font-size: 0.8rem;
        }
    }


    .navwatch {
        display: block;
    }

}
