.header {
    padding-bottom: 10%;

    .header__data {
        margin: 30% 10% 10% 10%;

        .header__title {
            font-size: 2rem;
            text-align: center;
        }

        .header__text {
            margin-top: 20px;
            font-size: 1rem;
            text-align: center;
        }

        .header__button {
            margin-top: 28px;

            .button-shop {
                width: 90%;
                box-shadow: 5px 10px 14px var(--blue-color-shadow);
            }
        }
    }

    .header__img {
        width: 100%;
    }

    .header__platform__h2 {
        margin: 5% 10%;
        font-weight: 300;
        text-align: center;
        font-size: 1.8rem;
    }

    .header__platform__container {
        .header__platform__img {
            display: block;
            margin: 30px auto;
        }
    }
}

@media only screen and (min-width: 1000px) {

    .header {
        .header__data {
            margin: 10% 10%;
        }
    }

    .header__img {
        content: url("../assets/images/background.png");
    }

    .header__platform__container {
        display: flex;
        justify-content: space-evenly;
    }

    .header__platform__img {
        justify-content: space-around;
    }
}
