@use "./variables";
@use "./blocks";
@use "./topbar";
@use "./jselements";
@use "./whyus";
@use "./benefits";
@use "./prices";
@use "./slider";
@use "./contact";
@use "./footer";
@use "./popup";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}
